p {
  color: blue;
}

.initial-info {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 10px;
    line-height: 2px;
}

h1 {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 38 px;
  font-weight: bold;
}

h2 {
  font-family: Georgia, serif;
  font-size: 16 px;
}

h3 {
  font-family: Georgia, serif;
  font-size: 13 px;
  font-weight: bold;
}

h4 {
  font-family: Georgia, serif;
  font-size: 13 px;
}

.opener {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 13px;
  line-height: normal;
